<?xml version='1.0' encoding='utf-8'?>
<widget id="friimaind.piholedroid" version="1.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pi-hole Droid</name>
    <description>
        Monitor your Pi-hole with your Android smartphone
    </description>
    <author email="massimiliano.monaro@gmail.com" href="https://blog.friimaind.it">
        Massimiliano Monaro
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="Fullscreen" value="false" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <platform name="android">
        <icon src="www/assets/mipmap-ldpi/ic_launcher.png" density="ldpi" />
        <icon src="www/assets/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="www/assets/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="www/assets/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <allow-intent href="market:*" />
    </platform>
</widget>
