<?xml version='1.0' encoding='utf-8'?>
<widget id="friimaind.piholedroid" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pi-hole Droid</name>
    <description>
        Monitor your Pi-hole with your Android smartphone
    </description>
    <author email="massimiliano.monaro@gmail.com" href="https://blog.friimaind.it">
        Massimiliano Monaro
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="Fullscreen" value="false" />   
    <preference name="SplashScreenDelay" value="2000" /> 
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <platform name="android">    
        <icon src="www/assets/mipmap-ldpi/ic_launcher.png" density="ldpi" />
        <icon src="www/assets/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="www/assets/mipmap-hdpi/ic_launcher.png" density="hdpi" />        
        <icon src="www/assets/mipmap-xhdpi/ic_launcher.png" density="xdpi" />
        <icon src="www/assets/mipmap-xxhdpi/ic_launcher.png" density="xxdpi" />
        <icon src="www/assets/mipmap-xxxhdpi/ic_launcher.png" density="xxxdpi" />                
        <splash src="res/drawable-land-ldpi/screen.png" density="land-ldpi"/>
        <splash src="res/drawable-land-mdpi/screen.png" density="land-mdpi"/>
        <splash src="res/drawable-land-hdpi/screen.png" density="land-hdpi"/>
        <splash src="res/drawable-land-xhdpi/screen.png" density="land-xhdpi"/>
        <splash src="res/drawable-land-xhdpi/screen.png" density="land-xxhdpi"/>
        <splash src="res/drawable-land-xhdpi/screen.png" density="land-xxxhdpi"/>
        <splash src="res/drawable-port-ldpi/screen.png" density="port-ldpi"/>
        <splash src="res/drawable-port-mdpi/screen.png" density="port-mdpi"/>
        <splash src="res/drawable-port-hdpi/screen.png" density="port-hdpi"/>
        <splash src="res/drawable-port-xhdpi/screen.png" density="port-xhdpi"/>
        <splash src="res/drawable-port-xhdpi/screen.png" density="port-xxhdpi"/>
        <splash src="res/drawable-port-xhdpi/screen.png" density="port-xxxhdpi"/>
        <allow-intent href="market:*" />
    </platform>    
</widget>
