<p class="please-rotate mdl-typography--text-center">
    <span class="mdl-chip mdl-chip--contact">
        <span class="mdl-chip__contact mdl-color--indigo mdl-color-text--white material-icons">rotate_left</span>
        <span class="mdl-chip__text">Please rotate your device</span>
    </span>
</p>

<div class="force-landscape">
    <p class="mdl-typography--text-center">
        <span class="mdl-chip mdl-chip--contact mdl-please-wait">
            <span class="mdl-chip__contact mdl-color--indigo mdl-color-text--white"><i class="material-icons loading">refresh</i></span>
            <span class="mdl-chip__text">Please wait, there are a lot of data to be processed.</span>
        </span>
    </p>
    
    <table id="query-log-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp fullwidth" cellspacing="0" width="100%"></table>
</div>